$grey-slate: #282c34;
$default-white: white;

@import "./taskApp.scss";
@import "./tunesApp.scss";

body {
  .App {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    padding-top: 0;
    margin-top: 0;
  }

  h1, h2, h3 {
    padding:0 0 20px 0;
    margin: 0;
  }

  section {
    text-align: left;
  }

  header {
    background-color: $grey-slate;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $default-white;
    margin-bottom: 30px;
  }

  nav {
    ul {
      padding-bottom: 20px;
      font-size: calc(8px + 2vmin);

      li {
        display: inline-block;
      }

      li a {
        border: 2px solid $default-white;
        padding: 5px;
        margin-right: 10px;
        color: $default-white;
        text-decoration: none;
      }

      li a:hover {
        color: #000;
        background: $default-white;
      }
    }
  }

  label {
    display: block;
    width: 100%;
  }

  .text-input {
    width: 50%;
    border-radius: 10px;
    border: 2px solid #000;
    font-size: 16px;
    padding: 7px 10px 7px 10px;
    margin-right: 20px;
  }
}
