// TASK APP 
// ------------------------------------------------------
.todo-app-container {
  .empty-tasks {
    margin-top: 20px;
    text-align: center;
  }

  .add-task {
    padding: 20px 0 0 20px;

    .add-task-button {
      width: auto;
      color: #fff;
      background: #000;
      border-radius: 10px;
      border: 2px solid #000;
      font-size: 16px;
      padding: 7px 10px 7px 10px;
      margin-right: 20px;
      cursor: pointer;
    }

    .add-task-button:hover {
      color: #000;
      background: #bbbbbb;
    }
  }

  .task-list {
    ul {
      li {
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        background: darkorange;
        cursor: pointer;

        .delete-item {
          padding: 2px 10px 2p 10px;
          border-radius: 5px;
          float: right;
          border: 2px solid #000;
        }

        &:hover {
          background: orange;
        }

        &.completed {
          background: green;
        
          .task-item-title {
            color: $default-white;
            display: inline-block;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
