// TUNES APP 
// ------------------------------------------------------
.tunes-app {
  text-align: center;
  background: $grey-slate;
  color: $default-white;
  padding: 20px;
  margin: 0 20px;

  label {
    display: inline-block;
    padding-right: 20px;
  }
  
  .text-input {
    border-color: none;
  }
}

.track-list {
  margin: 20px;

  ul {
    padding: 20px;
    background: $grey-slate;

    li {
      padding: 10px;
      margin-bottom: 15px;
      background: $default-white;

      img {
        padding-right: 20px;
      }

      audio {
        float: right;
        overflow: auto;
        width: 300px;
        height: 30px;
      }

      .track-title {
        font-size: 20px;
        vertical-align: top;
      }
    }
  }
}