.addTask {
    padding: 20px 0 0 20px;

    .addTaskButton {
      width: auto;
      color: #fff;
      background: #000;
      border-radius: 10px;
      border: 2px solid #000;
      font-size: 16px;
      padding: 7px 10px 7px 10px;
      margin-right: 20px;
      cursor: pointer;
    }

    .add-task-button:hover {
      color: #000;
      background: #bbbbbb;
    }
  }