// TASK APP 
// ------------------------------------------------------
.todoAppContainer {
  .emptyTasks {
    margin-top: 20px;
    text-align: center;
  }

  .taskList {
    ul {
      li {
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        background: darkorange;
        cursor: pointer;

        .delete-item {
          padding: 2px 10px 2p 10px;
          border-radius: 5px;
          float: right;
          border: 2px solid #000;
        }

        &:hover {
          background: orange;
        }

        &.completed {
          background: green;
        
          .task-item-title {
            color: $default-white;
            display: inline-block;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
